.u-section-1 .u-sheet-1 {
  min-height: 1091px;
}

.u-section-1 .u-text-1 {
  margin: 42px auto 0 420px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 422px;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0 426px;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0 423px;
}

.u-section-1 .u-text-15 {
  margin: 20px auto 0 420px;
}

.u-section-1 .u-text-16 {
  margin: 9px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 20px auto 60px 420px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 351px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 348px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 847px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 847px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 847px;
    margin-left: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1363px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 267px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 269px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 267px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 627px;
    margin-left: 265px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 627px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 627px;
    margin-left: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 470px;
    margin-left: 199px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 470px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 470px;
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 126px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 126px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 296px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 296px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 296px;
    margin-left: 125px;
  }
}