.u-section-1 .u-sheet-1 {
  min-height: 968px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-image-1 {
  width: 254px;
  height: 254px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 60px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 60px;
  margin-bottom: 54px;
  height: auto;
  min-height: 389px;
}